.container {
  margin: 0 auto;
  width: 90%;
}

.slider-wrapper {
  position: relative;
}
.slider-img {
  width: 100%;
}
.slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}

.slider-content h1 {
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.slider-content p {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 400;
}

.slider-content a {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-weight: 400;
  min-width: 120px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.slider-content a:hover {
  text-decoration: underline;
  background-color: #1a1a1a;
}

.products {
  margin-top: 50px;
  margin-bottom: 50px;
}

.products img {
  margin-right: 10px;
  width: calc(33.3333333333% - 10px);
}

.products img:nth-last-child(1) {
  margin-right: 0px;
}
